<tr id="tableContent-{{id}}">

    <th scope="row">{{id}}</th>
    <td id = "RFCvalue-{{id}}">{{rfc}}</td>
    <td>{{active}}</td>
    <td>{{name}}</td>
    <td>
        <a class="btn btn-primary fa-xs" href="mailto:{{email}}" role="button"><i class="fa-solid fa-envelope"></i></a>
        <a>{{email}}</a>
    </td>
    <td>
        <a class="btn btn-primary fa-xs" href="tel:{{tel}}" role="button"><i class="fa-solid fa-phone"></i></a>
        <a>{{tel}}</a>
    </td>
    <td>
        
        <!--Modify Button-->
        <button type="button" class="btn btn-primary fa-xs" data-bs-toggle="modal" data-bs-target="#UpdateClientModal-{{id}}" id="btnModify-{{id}}"> 
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <form class = "UpdateClient" data-index = "{{id}}">
            <!--Update Client Modal-->
            <div class="modal fade" id="UpdateClientModal-{{id}}" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" id="modalModify-{{id}}">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modal-{{id}}">Modify Client</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--RFC-->
                            <div class="mb-3 row">
                                <label for="inputRFC-{{id}}" class="col-sm-2 col-form-label">RFC:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputRFC-{{id}}" value="{{rfc}}">
                                </div>
                            </div>
                            <!--Active flag-->
                            <div class="mb-3 row">
                                <div class="input-group mb-3">
                                    <label for="inputActive-{{id}}" class="col-sm-2 col-form-label">Active:</label>
                                    <div class="input-group-prepend">
                                        <input type="checkbox" id="inputActive-{{id}}" checked="{{active}}">
                                    </div>
                                </div>
                            </div>
                            <!--Client Name-->
                            <div class="mb-3 row">
                                <label for="inputClientName-{{id}}" class="col-sm-2 col-form-label">Name:</label>
                                <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputClientName-{{id}}" value="{{name}}">
                                </div>
                            </div>
                            <!--Client email-->
                            <div class="mb-3 row">
                                <label for="inputClientEmail-{{id}}" class="col-sm-2 col-form-label">Email:</label>
                                <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputClientEmail-{{id}}" value="{{email}}">
                                </div>
                            </div>
                            <!--Client tel-->
                            <div class="mb-3 row">
                                <label for="inputClientTel-{{id}}" class="col-sm-2 col-form-label" >Tel:</label>
                                <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputClientTel-{{id}}" value="{{tel}}">
                                </div>
                            </div>
                            <!--Client address-->
                            <div class="mb-3 row">
                                <label for="inputClientAddress-{{id}}" class="col-sm-2 col-form-label" >Address:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputClientAddress-{{id}}" value="{{address}}">
                                </div>
                            </div>
                        </div>
                        <!-- BtnSubmit id="btnUpdate"-->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="btnUpdate-{{id}}">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--Delete Button-->
        <button class="btn btn-danger fa-xs deleteClient" type="button" id="btnDeleteCl-{{id}}" data-index = "{{id}}">
            <i class="fa-solid fa-trash-can" id="iconDeleteCl-{{id}}" data-index = "{{id}}"></i>
        </button>

    </td>
</tr>